<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SYSVENDAS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <!-- servlet>
    <servlet-name>principal</servlet-name>
    <servlet-class>br.com.cepep.sysvenda.servlets.Principal</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>principal</servlet-name>
    <url-pattern>/principal</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>formulario</servlet-name>
    <servlet-class>br.com.cepep.sysvenda.servlets.Formulario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>formulario</servlet-name>
    <url-pattern>/formulario.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>produtos</servlet-name>
    <servlet-class>br.com.cepep.sysvenda.servlets.ProdutosServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>produtos</servlet-name>
    <url-pattern>/produtos</url-pattern>
  </servlet-mapping>
  
  
  <servlet>
  	<servlet-name>controller</servlet-name>
  	<servlet-class>br.com.cepep.sysvenda.servlets.ControllerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>controller</servlet-name>
  	<url-pattern>/mvc</url-pattern>
  </servlet-mapping>
  
  <filter>
  	<filter-name>cronometro</filter-name>
  	<filter-class>br.com.cepep.sysvenda.filters.FiltroTempoExecucao</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>cronometro</filter-name>
  	<url-pattern>/*</url-pattern>
  </filter-mapping>

  <filter>
  	<filter-name>filtroConexao</filter-name>
  	<filter-class>br.com.cepep.sysvenda.filters.FiltroConexao</filter-class>
  </filter>
  
  <filter-mapping>
  	<filter-name>filtroConexao</filter-name>
  	<url-pattern>/mvc</url-pattern>
  </filter-mapping-->
  
  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/erro.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/erro404.html</location>
  </error-page>
  
  <!-- Spring -->
  <servlet>
  	<servlet-name>Spring</servlet-name>
  	<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
	<init-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring-context.xml</param-value>
	</init-param>
  </servlet>

  <servlet-mapping>
  	<servlet-name>Spring</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  
</web-app>